@import "mixin";
@import "dashboard";


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

.red {
    color: red;
}

.purple {
    color: rgb(75, 52, 250);
}

.green {
    color: rgb(23, 133, 23);
}



.adminContainer {
    @include grid(1fr 4fr, unset, 1rem);
    height: 100vh;
    background-color: rgb(228, 228, 228);

    >aside {
        background-color: white;
        padding: 1rem;
        z-index: 10;
        overflow-y: auto;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }


        >div {
            margin: 2rem 1rem;

            >h5 {
                @include heading(1px);
                opacity: 0.8;
                margin: 1rem 0;
            }

            >ul {
                @include flex(column, unset, unset, 0.5rem);
                list-style: none;

                >li{
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    @include flex(row, unset);
                    
                    a{
                        color: rgba(0,0,0,0.825);
                    }
                }

            }
        }
    }
}